.steps{
    display: none;
}
.steps.enable_curr{
    display: block;
}
.center_div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 
}
.input-group{
    margin: 10px;
}